/* TODO assign local vars */
:root {
  --bg-col: #f9fafe;  /* TODO */
  /* ... */
}
/* TODO adjust font face */
/* TODO go thru each value */
/* TODO keep chipping away at a better "footnote" */
html {
  color: #080004;
  background-color: #f9fafe;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  margin: 0 auto;
  max-width: 60rem;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
@media (max-width: 600px) {
  body {
    font-size: 1rem;
    padding: 12px;
  }
  h1 {
    font-size: 1.8rem;
  }
}
@media print {
  html {
    background-color: white;
  }
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3, h4 {
    page-break-after: avoid;
  }
}
p {
  margin: 1rem 0;
}
img {
  max-width: 90%;
}
h1, h2, h3, h4, h5, h6  { margin-top: 1.2rem; }
h1  { font-size: 2.2rem; }
h2  { font-size: 1.6rem; }
h3  { font-size: 1.4rem; }
h4  { font-size: 1.1rem; }
h5  { font-size: 1.0rem;  font-style: italic; }
h6  { font-size: 1.0rem;  font-style: italic;  font-weight: normal; }
ol, ul {
  padding-left: 1.8rem;
  margin-top: 1rem;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1rem 0 1rem 1.8rem;
  padding-left: 1em;
  border-left: 2px solid #a6b6e6;
  color: #606060;
}
code {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 0.85rem;
  margin: 0;
  hyphens: manual;
}
pre {
  margin: 1rem 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
 background-color: transparent;
 overflow: visible;
}
hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
  margin-bottom: 4em;
  text-align: center;
}
.footnote-ref  { text-decoration: inherit; }
.footnote-ref sup {
  border: 1px solid black;
  box-shadow: 0 0 2px rgba(0,0,0,40%);
  margin: 2px;
  padding: 0 3px 1px;
  background-color: #eedd66;
  text-decoration: none;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}
.display.math{display: block; text-align: center; margin: 0.5rem auto;}
