html {
  font-size: 100%;
}

.TODO {
  display:none;
}

@media print {
  div.issuer {
    display: none;
  }
  div.abcjs-container {
    /*page-break-after: always;*/
    page-break-inside: avoid;
    display: block !important;
  }
  svg {
    display: block !important;
  }
  tspan,
  path {
    color: #000000 !important;
    stroke: black;
    fill: black;
  }
  @page {
    size: auto;/* portrait;*/
    margin: 1.3cm;
    margin-top: 0.8cm;
    margin-bottom: 0.5cm;
  }
  .printer-pagebreak-after {
    break-after: page;
  }
  .printer-page-center {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
