.w3-zoomable
  {width:18%;
  cursor:zoom-in}
.w3-container:after,
.w3-container:before,
  {content:"";
  display:table;
  clear:both}
img {vertical-align:middle}
.w3-button
  {border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none}
.w3-button:disabled
  {cursor:not-allowed;
  opacity:0.3}
.w3-modal {
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  cursor:zoom-out;
  background-color:rgb(0, 0, 0);
  background-color:rgba(0, 0, 0, 0.4)}
.w3-modal-content
  {margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:fit-content;
  max-width:600px}
@media (max-width:600px) {
  .w3-modal-content
    {margin:0 10px;
    width:fit-content!important}
  .w3-modal {padding-top:30px}
}
@media (max-width:768px) {
  .w3-modal-content
    {width:fit-content;
    max-width:500px}
  .w3-modal {padding-top:50px}
}
@media (min-width:993px) {
  .w3-modal-content
    {width:fit-content;
    max-width:900px}
}
.w3-display-topright
  {position:absolute;
  right:0;
  top:0}
.w3-container {padding:0.01em 16px}
.w3-animate-zoom {animation:animatezoom 0.6s}
@keyframes animatezoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.w3-xlarge {font-size:24px!important}
.w3-button:hover
  {color:#000!important;
  background-color:#ccc!important}
.w3-light-blue
  {color:#000!important;
  background-color:#87CEEB!important}
.w3-hover-red:hover
  {color:#fff!important;
  background-color:#f44336!important}
